var/www/html/vendor/
var/www/html/node_modules/
var/www/html/.git/
var/www/html/.env.example
var/www/html/storage/logs/*
var/www/html/storage/framework/cache/*
var/www/html/storage/framework/sessions/*
var/www/html/storage/framework/views/*
var/www/html/bootstrap/cache/*
!var/www/html/storage/logs/.gitignore
!var/www/html/storage/framework/cache/.gitignore
!var/www/html/storage/framework/sessions/.gitignore
!var/www/html/storage/framework/views/.gitignore
!var/www/html/bootstrap/cache/.gitignore
